<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
     <!--<add key="CONNECTION_STRING_MSSQL" value="Data Source=192.168.1.4;Initial Catalog=DBReseller;Persist Security Info=True;User ID=sa;Password=msaken"/>-->
    <add key="CONNECTION_STRING_POSTGRESQL" value="Server=192.168.1.4;Port=5432;Database=DBBulkSMSTest;User ID=postgres;Password=msaken;Pooling=true;MinPoolSize=4;MaxPoolSize=20;CommandTimeout=2000;ConnectionLifeTime=2;"/>

    <add key="PARAM_PATH_EXCEL" value="D:\Temp\"/>
    <add key="PARAM_UPLOAD_XL_COLOR" value="#ffffff"/>
    
    
  <!--<add key="SQL_STAT_MSSQL" value="SELECT WEB_ID_RESELLER, WEB_ID_CLIENT, STATUT, MOBILE, NUM_SERVICE, SMS,DATE_SAI, 
         DATE_ENV, WEB_ID_SMS_OUT, ACCUSE_ID_OP, SYS_ID, ACCUSE_DATE, ACCUSE_TYPE 
         FROM VIEW_SMS_OUT 
         WHERE  ID_SMS_OUT > 14 AND WEB_ID_RESELLER = %ID_RESELER%
         AND CAST(WEB_ID_CLIENT AS VARCHAR(5)) LIKE '%ID_CLIENT%' AND  DATE_SAI BETWEEN '%BEGIN_DATE%' AND '%END_DATE%' ; "/>-->
    
  <add key="SQL_Bulk_STAT_POSTGRES" value=" 
(select pc_client.rais_soc   ,pc_sms_out.id_client ,pc_sms_out.mobile,pc_sms_out.id_sms_out,pc_sms_out.sender,
substring(replace(replace(replace(replace( pc_sms_out.sms,';',''),',',''),CHR(10),' '), CHR(13), ''), 1 , 50)
,pc_sms_out.nbr_sms ,pc_sms_out.date_envoi as date_sai,pc_sms_out.date_envoi,pc_sms_out.sys_id,pc_operateur.libelle as operateur,pc_sms_out.accuse_type,pc_sms_out.accuse_date,pc_sms_out.status ,length(pc_sms_out.sms)
from pc_sms_out  left join pc_operateur on pc_operateur.prefixe=pc_sms_out.prefixe  
join pc_client on pc_client.id_client = pc_sms_out.id_client
where pc_sms_out.sms_groupe != 1
and pc_sms_out.date_envoi between  (select (cast(now() as date) - integer '7')+ interval '0 hour') and  ( select (cast(now() as date) - integer '1')+ time ' 23:59:59'))
 Union
  (select pc_client.rais_soc   ,pc_sms_out.id_client ,pc_sms_out.mobile,pc_sms_out.id_sms_out,pc_ann_sms.num_service as sender,
   substring(replace(replace(replace(replace( pc_ann_sms.text_sms,';',''),',',''),CHR(10),' '), CHR(13), ''), 1 , 50)
  as sms,pc_sms_out.nbr_sms
 ,pc_ann_sms.date_sai as date_sai,pc_sms_out.date_envoi,pc_sms_out.sys_id,pc_operateur.libelle as operateur,pc_sms_out.accuse_type,pc_sms_out.accuse_date,pc_sms_out.status  ,length(pc_ann_sms.text_sms)
 from pc_sms_out  join  pc_ann_sms on pc_ann_sms.id_ann_sms=pc_sms_out.id_ann_sms 
 left join pc_operateur on pc_operateur.prefixe=pc_sms_out.prefixe 
join pc_client on pc_client.id_client = pc_ann_sms.id_client
 where pc_sms_out.sms_groupe = 1 and 
   pc_sms_out.date_envoi between  (select (cast(now() as date) - integer '7')+ interval '0 hour') and   (select (cast(now() as date) - integer '1')+ time ' 23:59:59')
 ); "/>
  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>